@font-face {
  font-family: 'iconfont';  /* project id 971788 */
  src: url('//at.alicdn.com/t/font_971788_gv4u1gtw2pd.eot');
  src: url('//at.alicdn.com/t/font_971788_gv4u1gtw2pd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_971788_gv4u1gtw2pd.woff') format('woff'),
  url('//at.alicdn.com/t/font_971788_gv4u1gtw2pd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_971788_gv4u1gtw2pd.svg#iconfont') format('svg');
}