.flex-column() {
  display: flex;
  flex-direction: column;
}

.btnStyle() {
  background: royalblue;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .25);
  &:active {
    filter: brightness(80%);
  }
}

.mul-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
